<h1 class="text-center my-5 accent">Login</h1>
<div class="container mx-auto row justify-content-around">
    <div class="col-12 col-lg-6 mb-2 p-2">
        <form [formGroup]="formService.form">
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username">
                        <mat-error *ngIf="formService.form.get('username') as control">
                            <ng-container *ngIf="control.hasError('required')">
                                This field is required
                            </ng-container>
                            <ng-container *ngIf="control.hasError('minlength')">
                                Minimum 3 characters
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                        <mat-error *ngIf="formService.form.get('password') as control">
                            <ng-container *ngIf="control.hasError('required')">
                                This field is required
                            </ng-container>
                            <ng-container *ngIf="control.hasError('minlength')">
                                Minimum 3 characters
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <p><mark>*</mark> Required fields</p>
                </div>
                <div class="col">
                    <button mat-raised-button class="btnAccent d-block mx-auto" [disabled]="formService.form.invalid" (click)="send()">Login</button>
                    <div class="text-danger pt-3" *ngIf="errorMsg"> {{ errorMsg }}</div>
                    <div class="text-success pt-3" *ngIf="justRegistered">Successful registration. You can login.</div>
                </div>
            </div>
        </form>
    </div>
</div>