mark{
    background-color: transparent;
    color: red;
}

mat-form-field.mat-form-field{
    width: 100%;
    margin-bottom: 20px;
}

::ng-deep.mat-focused .mat-form-field-label {
    color: #f7a111!important;
}
  
::ng-deep.mat-form-field-underline {
    
    background-color: #f7a111!important;
} 
  
::ng-deep .mat-form-field:not(.mat-form-field-invalid) .mat-form-field-ripple {
   background-color: #f7a111!important;
}

.imageInput:focus, .p-inputtext:enabled:focus{
    border: 1px #f7a111 solid!important;
    box-shadow: 0 0 0 0.25rem rgb(247 161 17 / 25%);
}