<div class="mb-3">
    <div class="col recipe mb-1">
        <a routerLink="/recipes/{{recipe.id}}">
            <div class="position-relative overflow-hidden recipe-image">
                <img src="{{imageDir}}{{recipe.image}}"
                    class="img-fluid rounded">
                <div class="position-absolute p-1 rounded recipe-title">{{recipe.title}}</div>
                <div class="position-absolute p-1 rounded recipe-group text-white">{{recipe.category}}</div>
            </div>
        </a>        
    </div>
    <div *ngIf="isProfilePage">
        <button mat-raised-button class="btnAccent me-2" routerLink="/recipes/recipe-form/{{recipe.id}}">Edit</button>
        <button mat-raised-button class="btnSecondary" (click)="deleteRecipe(recipe.id)">Delete</button>
    </div>
</div>