<div class="container-fluid mx-auto row justify-content-around">
    <div class="col-12 col-lg-6 mb-2 p-2">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Full Name</mat-label>
                        <input matInput formControlName="fullName">
                        <mat-error *ngIf="form.get('fullName') as control">
                            <ng-container *ngIf="control.hasError('required')">
                                This field is required
                            </ng-container>
                            <ng-container *ngIf="control.hasError('minlength')">
                                Minimum 3 characters
                            </ng-container>
                            <ng-container *ngIf="control.hasError('pattern')">
                                Full Name must start with a capital letter and have at least two words. Only letter and spaces are allowed.
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="form.get('email') as control">
                            <ng-container *ngIf="control.hasError('required')">
                                This field is required
                            </ng-container>
                            <ng-container *ngIf="control.hasError('minlength')">
                                Minimum 3 characters
                            </ng-container>
                            <ng-container *ngIf="control.hasError('email')">
                                Email is in invalid format.
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username">
                        <mat-error *ngIf="form.get('username') as control">
                            <ng-container *ngIf="control.hasError('required')">
                                This field is required
                            </ng-container>
                            <ng-container *ngIf="control.hasError('minlength')">
                                Minimum 3 characters
                            </ng-container>
                            <ng-container *ngIf="control.hasError('maxlength')">
                                Maximum 20 characters
                            </ng-container>
                            <ng-container *ngIf="control.hasError('pattern')">
                                Username must start with a letter and can only contain letters and numbers.
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <button mat-raised-button class="btnAccent d-block mx-auto" [disabled]="form.invalid" (click)="send()">Update</button>
                    <div class="text-danger pt-3" *ngIf="errorMsg" [innerHTML]="errorMsg"></div>
                </div>
            </div>
        </form>
    </div>
</div>