body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'bootstrap/scss/bootstrap';

.accent{
    color: #ff5a5a;
}

.btnAccent{
    background-color: #f5b955;//#ff5a5a;
    color: white;
}

.btnSecondary{
    background-color: #ff5a5a;//#ff5a5a;
    color: white;
}


.secondary-text{
    color: #f5b955;
}

